.about-us {
    display: flex;
    flex-direction: row;

    width: 1220px;
    height: 516px;
    margin: 0 auto;
}

.about-us__persone {
    width: 508px;
    height: 508px;
    margin-left: auto;
}

.about-us__content {
    width: 610px;
}

.about-us__title {
    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;
}

.about-us__confectioner > h3 {
    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;
}

.about-us__dictum {
    margin: 10px 0;
}

.about-us__dictum > h4 {
    font-family: "Circe Bold";
    font-size: 20px;
}

.about-us__dictum > p {
    font-family: "Circe";
    font-size: 18px;
}