.categories {
    width: 1220px;
    margin-top: -64px;
    padding: 0 73px;
}

@media (max-width:1365px) {
    .categories {
        width: 728px;
        margin: 0;
        padding: 0 20px;
    }
}

.categories__title {
    display: block;

    letter-spacing: 0.40px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 50px;
}

.categories__container {
    display: flex;
    flex-direction: column;

    width: inherit;
    height: 1400px;
    margin-top: 62px;

    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width:1365px) {
    .categories__container {
        width: 728px;
        height: 816px;
        margin-top: 0;
    }
}

.categories__container li {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 484px;
    height: 304px;
    margin-bottom: 44px;

    background-color: #f3f3f5;
    box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);

    align-items: center;
}

@media (max-width:1365px) {
    .categories__container li {
        width: 288px;
        height: 184px;
        margin-bottom: 20px;
    }
}

.categories__container li:first-child {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 696px;
    height: 652px;
    margin-right: 40px;
    margin-bottom: 46px;

    background-color: #f3f3f5;
    box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);

    align-items: center;
}

.categories__container li:last-child {
    display: flex;
    flex-direction: column;

    width: 696px;
    height: 652px;
    margin-left: -212px;

    background-color: #f3f3f5;
    box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);

    align-items: center;
}

@media (max-width:1365px) {
    .categories__container li:first-child {
        width: 419px;
        height: 388px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .categories__container li:last-child {
        width: 419px;
        height: 388px;
        margin-left: -131px;
    }
}

.categories__name {
    z-index: 1;

    margin: 33px 0 0 45px;

    color: #2d2829;

    font-family: "Circe";
    font-size: 24px;

    align-self: flex-start;
}

.categories__count {
    z-index: 1;

    margin: 5px 0 0 45px;

    opacity: 0.7;
    color: #2d2829;

    font-family: "Circe";
    font-size: 20px;

    align-self: flex-start;
}

.categories__image {
    z-index: 0;

    width: 100%;
    margin-top: -82px;
    margin-left: -1px;
}

.categories__more {
    z-index: 1;

    display: flex;
    flex-direction: row;

    width: inherit;
    margin-top: -66px;
    margin-right: 114px;

    align-items: baseline;
    justify-content: flex-end;
}

.categories__more > a {
    margin: 12px;

    color: #2d2829;

    font-family: "Circe";
    font-size: 20px;
}

.categories__more > img {
    width: 17px;
    height: 12px;
}