.categories {
    width: 1220px;
    margin-top: -64px;
    padding: 0 73px;
}

.categories__title {
    display: block;

    letter-spacing: 0.40px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 50px;
}

.categories__container {
    display: flex;
    flex-direction: column;

    width: inherit;
    height: 1400px;
    margin-top: 62px;

    align-items: flex-start;
    flex-wrap: wrap;
}

.categories__container-item {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 394px;
    height: 232px;
    margin-bottom: 44px;
    padding: 36px 45px;

    background-color: white;
    box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);

    align-items: center;
}

@media (min-width:1366px) {
    .categories__container-item:first-of-type {
        display: flex;
        overflow: hidden;
        flex-direction: column;

        width: 606px;
        height: 580px;
        margin-right: 40px;
        margin-bottom: 46px;

        box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);

        align-items: center;
    }
    .categories__container-item:last-of-type {
        display: flex;
        flex-direction: column;

        width: 606px;
        height: 580px;
        margin-left: -212px;

        background-color: #f3f3f5;
        box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);

        align-items: center;
    }
}

.categories__name {
    z-index: 1;

    margin-bottom: 5px;

    color: #2d2829;

    font-family: "Circe";
    font-size: 24px;

    align-self: flex-start;
}

.categories__count {
    z-index: 1;

    opacity: 0.7;
    color: #2d2829;

    font-family: "Circe";
    font-size: 20px;

    align-self: flex-start;
}

.categories__image {
    z-index: 0;

    width: auto;
    margin-top: -82px;
    margin-left: -1px;
}

.categories__more {
    z-index: 1;

    display: flex;
    flex-direction: row;

    margin-top: -70px;

    align-items: baseline;
    align-self: flex-end;
    justify-content: flex-end;
}

.categories__more-link {
    margin: 12px;

    color: #2d2829;

    font-family: "Circe";
    font-size: 20px;
}

.categories__more-arrow {
    width: 17px;
    height: 12px;
}

@media (max-width:1365px) {
    .categories {
        display: flex;
        flex-direction: column;

        width: 94.79%;
        margin-top: 10px;
        padding: 0 2.605%;

        align-items: center;
    }
    .categories__title {
        display: block;

        margin-bottom: 32px;

        letter-spacing: 0.28px;

        color: #2d2829;

        font-family: "Playfair Display Bold";
        font-size: 28px;
        line-height: 40px;

        align-self: flex-start;
    }
    .categories__container {
        width: 100%;
        height: 856px;
        margin-top: 0;
    }
    .categories__container-item {
        width: 32.42%;
        height: 144px;
        margin-bottom: 20px;
        padding: 22px 3.57%;
    }
    .categories__container-item:first-of-type {
        width: 50.55%;
        height: 348px;
        margin-right: 2.75%;
        margin-bottom: 20px;
    }
    .categories__container-item:last-of-type {
        width: 50.55%;
        height: 348px;
        margin-left: -18%;

        background-color: #f3f3f5;
    }
    .categories__name {
        margin-bottom: 5px;

        font-size: 14.31px;
    }
    .categories__count {
        font-size: 12px;
    }
    .categories__image {
        z-index: 0;

        width: auto;
        height: inherit;
        margin-top: -40px;
        margin-left: -1px;
    }
    .categories__more {
        z-index: 1;

        display: flex;
        flex-direction: row;

        margin-top: -30px;

        align-items: baseline;
        align-self: flex-end;
        justify-content: flex-end;
    }
}

@media (max-width:767px) {
    .categories {
        display: flex;
        flex-direction: column;

        width: 87%;
        height: auto;
        margin: 0;
        padding: 0 6.25%;

        align-items: center;
    }
    .categories__title {
        display: block;

        letter-spacing: 0.28px;

        color: #2d2829;

        font-family: "Playfair Display Bold";
        font-size: 24px;
        line-height: 40px;

        align-self: center;
    }
    .categories__container {
        flex-direction: column;

        width: 100%;
        height: auto;
        margin: 0;

        align-items: center;
    }
    .categories__container-item {
        width: 91.44%;
        height: 120px;
        margin-bottom: 10px;
        padding: 14px 4.28%;
    }
    .categories__container-item:first-of-type {
        width: 91.44%;
        height: 120px;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 14px 4.28%;
    }
    .categories__container-item:last-of-type {
        width: 91.44%;
        height: 120px;
        margin-bottom: 0;
        margin-left: 0;
        padding: 14px 4.28%;

        background-color: #f3f3f5;
    }
    .categories__name {
        margin-bottom: 5px;

        font-size: 14px;
    }
}