.contacts {
    display: flex;
    flex-direction: column;

    width: 1220px;
    height: 781px;
    padding: 64px 73px 0 73px;

    background-image: url("../assets/img/contacts-cake.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 886px auto;

    mix-blend-mode: multiply;
}

.contacts__title {
    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;
}

.contacts__annotation {
    margin-top: 22px;

    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;
}

.contacts__feedback {
    position: relative;

    display: flex;
    flex-direction: row;
}

.feedback__form p {
    margin-top: 19px;

    color: #000000;

    font-family: "Circe";
    font-size: 20px;
}

.feedback-form__input {
    width: 550px;
    margin-top: 32px;
    padding: 7px 0;

    transition: border-color 0.2s;

    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    background: transparent;

    font-family: Circe;
    font-size: 14px;
}

.feedback-form__button {
    width: 180px;
    margin-top: 74px;
}

.feedback__contacts {
    width: 344px;
    margin-top: 16px;
    margin-left: 82px;

    font-family: Circe;
    font-size: 20px;
    line-height: 24px;
}

.feedback-contacts__socials {
    position: absolute;
    z-index: 2;

    display: flex;

    width: 156px;
    margin-top: 26px;

    justify-content: space-between;
}

@media (max-width:1365px) {
    .contacts {
        width: 672px;
        height: 541px;
        padding: 48px 48px 0 48px;

        background-image: url("../assets/img/contacts-cake-tablet.png");
        background-size: 458px auto;

        mix-blend-mode: multiply;
    }
    .contacts__title {
        color: #2d2829;

        font-family: "Playfair Display Bold";
        font-size: 27.94px;
        line-height: 38.71px;
    }
    .contacts__annotation {
        margin-top: 0;

        color: #32313d;

        font-family: "Intro Script Base";
        font-size: 21.95px;
    }
    .feedback__form p {
        margin-top: 19px;

        color: #000000;

        font-family: "Circe";
        font-size: 14px;
        line-height: 14.12px;
    }
    .feedback-form__input {
        width: 347px;
        height: 51px;
        margin-top: 9px;
        padding: 0;

        transition: unset;

        background: white;

        font-family: Circe;
        font-size: 14px;
    }
    .feedback-form__button {
        width: 160px;
        margin-top: 31px;
    }
    .feedback__contacts {
        width: 244px;
        margin-top: 16px;
        margin-left: 66px;

        font-family: Circe;
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width:767px) {
    .contacts {
        width: 87%;
        height: 600px;
        padding: 0 6.25%;

        background-image: none;
        background-size: 458px auto;

        mix-blend-mode: multiply;
    }
    .contacts__title {
        color: #2d2829;

        font-family: "Playfair Display Bold";
        font-size: 27.94px;
        line-height: 38.71px;
    }
    .contacts__feedback {
        position: relative;

        display: flex;
        flex-direction: column;
    }
    .contacts__annotation {
        margin-top: 0;

        color: #32313d;

        font-family: "Intro Script Base";
        font-size: 21.95px;
    }
    .feedback__form p {
        margin-top: 19px;

        color: #000000;

        font-family: "Circe";
        font-size: 14px;
        line-height: 14.12px;
    }
    .feedback-form__input {
        width: auto;
        height: 51px;
        margin-top: 9px;
        padding: 0;

        transition: unset;

        background: white;

        font-family: Circe;
        font-size: 14px;
    }
    .feedback-form__button {
        width: 160px;
        margin-top: 0;
    }
    .feedback__contacts {
        width: 244px;
        margin-top: 0;
        margin-left: 0;

        font-family: Circe;
        font-size: 14px;
        line-height: 24px;
    }
}