.contacts {
    display: flex;
    flex-direction: column;

    height: 760px;
    margin-bottom: 0 !important;
}

.contacts__title {
    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;
}

.contacts__annotation {
    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;
}

.contacts__feedback {
    position: relative;

    display: flex;
    flex-direction: row;
}

.feedback__form p {
    color: #000000;

    font-family: "Circe";
    font-size: 20px;
}

.feedback-form__input {
    width: 550px;
    margin-top: 26px;
    padding: 7px 0;

    transition: border-color 0.2s;

    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    background: transparent;

    font-family: Circe;
    font-size: 14px;
}

.feedback-form__button {
    width: 180px;
    margin-top: 80px;
}

.feedback__contacts {
    width: 509px;
    margin-left: 82px;

    font-family: Circe;
    font-size: 20px;
    line-height: 24px;
}

.feedback-contacts__socials {
    position: absolute;
    z-index: 2;

    display: flex;

    width: 156px;
    margin-top: 94px;

    justify-content: space-between;
}

.feedback__image {
    position: relative;

    overflow: hidden;

    width: 886px;
    margin-top: 4px;
    margin-left: -733px;

    align-self: center;
    mix-blend-mode: multiply;
}

.feedback__image > img {
    width: 954px;
    height: 636px;
}