footer {
    display: flex;
    flex-direction: column;

    width: 1220px;
    height: 130px;
    padding: 30px 73px 0 73px;

    background-color: #e8e8e8;
}

.footer__menu {
    display: flex;
    flex-direction: row;

    width: 1220px;

    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    flex-direction: row;

    width: 734.75px;

    align-self: flex-end;
    justify-content: space-between;
}

.nav__list a {
    display: block;

    color: #2d2829;

    font-family: "Circe";
    font-size: 16px;
}

.footer__logo {
    display: flex;

    justify-content: space-between;
}

.logo__text {
    letter-spacing: 1.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 28px;
}

.footer__social {
    display: flex;

    width: 72px;
    height: 37px;

    align-items: center;
    justify-content: space-between;
}

.footer__credentials {
    display: flex;
    flex-direction: column;

    width: 1220px;

    align-items: center;
}

.footer_credentials-line {
    width: 1222px;
    margin-top: 42px;

    opacity: 0.2;
}

.footer__credentials-copyright {
    margin-top: 10px;

    text-align: center;
    letter-spacing: 0.48px;

    opacity: 0.5;

    font-family: Roboto;
    font-size: 12px;
}

.footer__credentials-tablet {
    display: none;
}

@media (max-width: 1365px) {
    footer {
        width: 100%;
        height: 139px;
        margin: 0;
        padding: 0;

        background-color: #898989;
    }
    .footer__menu {
        width: 100%;
        margin-top: 40px;
    }
    .footer__logo {
        margin-left: 20px;
    }
    .logo__text {
        letter-spacing: 0.9px;

        color: #ffffff;

        font-family: "Playfair Display Bold";
        font-size: 18px;
    }
    .nav__list {
        width: 602px;
        margin: 0 34px;
    }
    .nav__list a {
        display: block;

        color: #ffffff;

        font-family: "Circe";
        font-size: 12px;
    }
    .footer__social {
        display: none;
    }
    .footer__credentials {
        display: none;
    }
    .footer__credentials-tablet {
        display: block;

        width: 100%;
    }
    .footer_credentials-line {
        width: 638px;
        margin-top: 30px;

        opacity: 0.1;
        color: #ffffff;
    }
    .footer__credentials-socials {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;
    }
    .footer__credentials-copyrights {
        margin-top: 0;
        margin-right: 32px;

        text-align: center;

        opacity: 0.5;

        font-family: Roboto;
        font-size: 12px;
    }
    .footer__credentials-socials > a:first-of-type {
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    footer {
        width: 87%;
        height: 414px;
        margin: 0;
        padding: 0 6.25%;
        padding: 0;

        background-color: #898989;
    }
    .footer__menu {
        flex-direction: column;

        width: 100%;
        margin-top: 0;
    }
    .footer__logo {
        margin-left: 0;
    }
    .logo__text {
        letter-spacing: 0.9px;

        color: #ffffff;

        font-family: "Playfair Display Bold";
        font-size: 28px;
    }
    .nav__list {
        flex-direction: column;

        width: auto;
        margin: 0;
    }
    .nav__list a {
        display: block;

        color: #ffffff;

        font-family: "Circe";
        font-size: 14px;
    }
    .footer__social {
        display: none;
    }
    .footer__credentials {
        display: none;
    }
    .footer__credentials-tablet {
        display: block;

        width: 100%;
    }
    .footer_credentials-line {
        width: 638px;
        margin-top: 30px;

        opacity: 0.1;
        color: #ffffff;
    }
    .footer__credentials-socials {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;
    }
    .footer__credentials-copyrights {
        margin-top: 0;
        margin-right: 32px;

        text-align: center;

        opacity: 0.5;

        font-family: Roboto;
        font-size: 12px;
    }
    .footer__credentials-socials > a:first-of-type {
        margin-right: 20px;
    }
}