.how-to-order {
    display: flex;
    flex-direction: row;

    height: 703px;
    padding: 0 73px;

    background-image: url("../assets/img/order-background.png");
    background-repeat: no-repeat;

    justify-content: flex-end;
}

.how-to-order__instruction {
    margin-top: 121px;

    color: #ffffff;

    font-family: "Playfair Display Bold";
    font-size: 40px;
}

.how-to-order__instruction > p {
    margin-left: 15px;
}

.instruction__order {
    margin-top: 22px;

    counter-reset: item;
}

.instruction__order > li {
    display: flex;
    flex-direction: row;

    width: 500px;
    margin-bottom: 14px;

    align-items: flex-start;
}

.instruction__order > li:before {
    display: block;

    min-width: 58px;

    content: counter(item) "";
    counter-increment: item;
    text-align: center;

    color: #ffffff;

    font-family: "Playfair Display Bold";
    font-size: 64.25px;
}

.order {
    display: flex;
    flex-direction: column;

    margin-top: 19px;
}

.order__title {
    letter-spacing: 0.21px;

    font-family: "Circe Bold";
    font-size: 21px;
    line-height: 27px;
}

.order__annotation {
    margin-top: 4px;

    letter-spacing: 0;

    font-family: "Circe";
    font-size: 20px;
    line-height: 24px;
}

@media (max-width:1365px) {
    .how-to-order {
        height: 420px;

        background-image: url("../assets/img/order-background-tablet.png");
    }
    .how-to-order__instruction {
        margin-top: 54px;

        font-size: 28px;
    }
    .instruction__order {
        margin-top: 22px;
    }
    .instruction__order > li {
        width: 375px;
        margin-bottom: 14px;
    }
    .instruction__order > li:before {
        min-width: 30px;

        text-align: left;

        font-size: 36px;
    }
    .order {
        display: flex;
        flex-direction: column;

        margin-top: 6px;
    }
    .order__title {
        letter-spacing: 0.15px;

        font-size: 15px;
    }
    .order__annotation {
        margin-top: 0;

        letter-spacing: 0;

        font-family: "Circe";
        font-size: 14px;
        line-height: 1.2;
    }
}

@media (max-width:767px) {
    .how-to-order {
        width: 87%;
        height: 482px;
        padding: 0 6.25%;

        background-image: url("../assets/img/order-background-mobile.png");
    }
    .how-to-order__instruction {
        margin-top: 54px;

        font-size: 24px;
    }
    .instruction__order {
        display: flex;
        flex-direction: column;

        margin-top: 0;
    }
    .instruction__order > li {
        width: auto;
        margin-bottom: 14px;
    }
    .instruction__order > li:before {
        min-width: 30px;

        text-align: left;

        font-size: 35px;
    }
    .order {
        display: flex;
        flex-direction: column;

        margin-top: 6px;
    }
    .order__title {
        letter-spacing: 0.15px;

        font-size: 15px;
    }
    .order__annotation {
        margin-top: 0;

        letter-spacing: 0;

        font-family: "Circe";
        font-size: 14px;
        line-height: 1.2;
    }
}