.individual-order {
    display: flex;
    flex-direction: column;

    width: 1220px;
    margin: 37px auto 0 auto;

    align-items: center;
}

@media (max-width:1365px) {
    .individual-order {
        width: 768px;
    }
}

.individual-order__header {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.individual-order__title {
    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;
}

.individual-order__annotation {
    margin-top: 5px;

    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;
}

.individual-order__step-one {
    display: flex;
    flex-direction: row;

    width: inherit;
    height: 571px;
    margin: 48px 0 0 0;

    background-color: #fffefe;

    align-items: center;
    justify-content: baseline;
}

.individual-order__step-one-header {
    width: 135px;
    margin-left: 81px;

    align-self: flex-start;
}

.individual-order__step-one-header > h2 {
    margin-top: 51px;
    margin-bottom: 10px;

    letter-spacing: 0.58px;

    color: #f50049;

    font-family: "Playfair Display Bold";
    font-size: 57.95px;
    line-height: 58px;
}

.individual-order__step-one-header > p {
    letter-spacing: 0.27px;

    color: #f50049;

    font-family: "Playfair Display Bold";
    font-size: 26.82px;
    line-height: 29.8px;
}

.individual-order__step-one > h5 {
    margin-bottom: 100px;
    margin-left: 40px;

    font-family: "Circe";
    font-size: 18px;

    align-self: flex-end;
}

.individual-order__arrow__left {
    margin-right: 90px;
    margin-left: -20px;
}

.individual-order__step-one-content {
    width: 282px;
    margin: 0 42px;

    box-shadow: 0 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
}

.individual-order__step-one-content > h3 {
    letter-spacing: 0.2px;

    color: #2f2f2f;

    font-family: "Circe Bold";
    font-size: 20px;
}

.individual-order__step-one-content > p {
    margin-top: 4px;

    color: #2f2f2f;

    font-family: "Circe";
    font-size: 18px;
    line-height: 23.8px;
}

.individual-order__step-one-content > h4 {
    margin-top: 30px;
    margin-bottom: 50px;

    color: #2f2f2f;

    font-family: "Playfair Display Bold";
    font-size: 21.85px;
}

.individual-order__step-one-content > button {
    width: 179px;
    margin-top: 10px;
    margin-left: 4px;
}

.individual-order__step-two {
    display: flex;
    flex-direction: row;

    width: inherit;
    height: 571px;
    margin: 35px 0;

    background-color: #fffefe;
    box-shadow: 0 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);

    align-items: center;
    justify-content: baseline;
}

.individual-order__step-two-header {
    width: 135px;
    margin-left: 81px;

    align-self: flex-start;
}

.individual-order__step-two-header > h2 {
    margin-top: 51px;
    margin-bottom: 10px;

    letter-spacing: 0.58px;

    color: #f50049;

    font-family: "Playfair Display Bold";
    font-size: 57.95px;
    line-height: 58px;
}

.individual-order__step-two-header > p {
    letter-spacing: 0.27px;

    color: #f50049;

    font-family: "Playfair Display Bold";
    font-size: 26.82px;
    line-height: 29.8px;
}

.individual-order__size {
    display: flex;
    flex-direction: row;

    width: 848px;

    align-items: flex-end;
    justify-content: space-between;
}

.individual-order__select-size {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
}

.individual-order__select-size > img {
    width: 100%;
    height: 100%;
}

.individual-order__select-size > p {
    margin: 15px;

    text-align: center;

    font-family: "Circe";
    font-size: 16px;
}

.individual-order__final-step {
    display: flex;
    flex-direction: column;

    width: inherit;
    height: 752px;

    background-color: #fffefe;
    box-shadow: 0 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);

    align-items: center;
}

.individual-order__step-three {
    display: flex;
    flex-direction: row;

    width: inherit;
    height: 558px;

    align-items: center;
    justify-content: space-between;
}

.individual-order__step-three > h5 {
    font-family: "Circe";
    font-size: 18px;

    align-self: flex-end;
}

.individual-order__step-three-header {
    width: 135px;
    margin-left: 81px;

    align-self: flex-start;
}

.individual-order__step-three-header > h2 {
    margin-top: 51px;
    margin-bottom: 10px;

    letter-spacing: 0.58px;

    color: #f50049;

    font-family: "Playfair Display Bold";
    font-size: 57.95px;
    line-height: 58px;
}

.individual-order__step-three-header > p {
    letter-spacing: 0.27px;

    color: #f50049;

    font-family: "Playfair Display Bold";
    font-size: 26.82px;
    line-height: 29.8px;
}

.individual-order__step-three-header > img {
    width: 252px;
    height: 334px;
    margin-top: 52px;
    margin-left: -64px;
}

.individual-order__step-three__left {
    margin-top: 3px;
    margin-left: 54px;
}

.individual-order__step-three__right {
    margin-top: 3px;
    margin-right: 85px;
}

.individual-order__decorative {
    display: flex;
    flex-direction: row;

    width: 685px;
    height: 431px;
    margin-top: 6px;
    margin-left: 50px;

    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.individual-order__decorative-variant {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 321px;
    height: 431px;

    background-color: white;
    box-shadow: 0 7px 12.74px 0.26px rgba(0, 0, 0, 0.05);

    align-items: center;
    justify-content: flex-start;
}

.individual-order__decorative-variant-image {
    margin-top: -4px;
}

.individual-order__decorative-variant > h3 {
    margin-top: -92px;

    font-family: "Circe";
    font-size: 20px;
}

.individual-order__decorative-variant > h4 {
    margin-top: 2px;

    font-family: "Playfair Display Bold";
    font-size: 22px;
}

.individual-order__summary {
    display: flex;
    flex-direction: column;

    width: inherit;
}

.individual-order__summary > h2 {
    margin-left: 73px;

    letter-spacing: 0.27px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 27px;
}

.individual-order__form {
    display: flex;
    flex-direction: row;

    margin-top: 25px;
    margin-left: 15px;

    align-items: flex-end;
    justify-content: space-around;
}

.individual-order__form-input-column {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.individual-order__form-input-column > p {
    color: #f50049;

    font-family: "Intro Script Base";
    font-size: 27px;
}

.individual-order__form-input {
    padding: 12px 0;

    transition: border-color 0.2s;

    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    background: transparent;

    font-family: Circe;
    font-size: 14px;
}

.individual-order__form-button {
    width: 226px;
}