.main-page {
    display: flex;
    flex-direction: row;

    width: 1220px;
    height: 941px;
    padding: 0 73px;

    background-image: url("../assets/img/main-background.png");
    background-repeat: no-repeat;
    background-position: right;

    align-items: center;
}

.main-page__left-info {
    display: flex;
    flex-direction: column;

    margin-top: 132px;

    align-self: flex-start;
}

.main-page__title {
    letter-spacing: 5.87px;

    color: #2e2829;

    font-family: "Playfair Display Bold";
    font-size: 78.3px;
    line-height: 70px;
}

.main-page__annotation {
    margin-top: 25px;

    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 40.83px;
}

.main-page__button {
    width: 226px;
    margin-top: 62px;
}

.main-page__list {
    display: flex;
    flex-direction: row;

    width: 460px;
    margin-top: 128px;

    align-items: baseline;
    justify-content: space-between;
}

.main-page__list > li {
    display: flex;
    flex-direction: row;

    align-content: center;
    justify-content: space-between;
}

.main-page__list > li p {
    display: block;

    margin-left: 12px;

    font-family: "Circe";
    font-size: 14px;
    line-height: 18px;

    align-self: center;
}

@media (max-width: 1365px) {
    .main-page {
        width: 100%;
        height: 700px;
        padding: 0;

        background-image: url("../assets/img/main-background-tablet.png");

        align-items: center;
    }
    .main-page__left-info {
        margin-top: 110px;
        margin-left: 45px;
    }
    .main-page__title {
        letter-spacing: 4.5px;

        color: #2e2829;

        font-family: "Playfair Display Bold";
        font-size: 60px;
        line-height: 55px;
    }
}

@media (max-width: 767px) {
    .main-page {
        flex-direction: column;

        width: 87%;
        height: 465px;
        padding: 0 6.25%;

        background-image: url("../assets/img/main-background-mobile.png");
        background-position: top;

        align-items: center;
        justify-content: flex-end;
    }
    .main-page__left-info {
        width: 100%;
        margin-top: 0;
        margin-left: 0;

        align-items: center;
        justify-content: center;
    }
    .main-page__title {
        margin-bottom: 20px;

        text-align: center;
        letter-spacing: 3px;

        color: #2e2829;

        font-family: "Playfair Display Bold";
        font-size: 40px;
        line-height: 0.9;
    }
    .main-page__annotation {
        margin-top: 0;
        margin-bottom: 18px;

        color: #32313d;

        font-family: "Intro Script Base";
        font-size: 22px;
    }
    .main-page__list {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin-top: 0;
        margin-bottom: 40px;

        align-items: baseline;
        justify-content: space-between;
    }
    .main-page__list > li {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 41px;

        align-content: center;
        justify-content: flex-start;
    }
    .main-page__list > li img {
        width: 33px;
        height: 33px;
    }
    .main-page__button {
        width: 226px;
        margin-top: 0;

        order: 4;
    }
}