.main-page {
    display: flex;
    flex-direction: column;

    height: 941px;
    margin-top: 20px;

    background-image: url("../assets/img/main-background.png");
    background-repeat: no-repeat;
    background-position: right;

    align-items: flex-start;
    justify-content: flex-start;
}

.main-page__title {
    margin-top: 130px;
    margin-bottom: 26px;

    letter-spacing: 5.87px;

    color: #2e2829;

    font-family: "Playfair Display Bold";
    font-size: 78.3px;
    line-height: 70px;
}

.main-page__annotation {
    margin-bottom: 62px;

    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 40.83px;
}

.main-page__button {
    width: 226px;
    height: 51px;
    margin-bottom: 128px;
}

.main-page__list {
    display: flex;
    flex-direction: row;

    width: 460px;

    align-items: baseline;
    justify-content: space-between;
}

.main-page__list-item {
    display: flex;
    flex-direction: row;

    align-content: center;
    justify-content: space-between;
}

.main-page__list-item > p {
    display: block;

    margin-left: 12px;

    font-family: "Circe";
    font-size: 14px;
    line-height: 18px;

    align-self: center;
}

@media (max-width: 1365px) {
    .main-page {
        height: 700px;
        margin-top: 13px;

        background-image: url("../assets/img/main-background-tablet.png");
        background-position: right top;
    }
    .main-page__title {
        margin-top: 89px;

        letter-spacing: 4.5px;

        font-size: 60px;
        line-height: 55px;
    }
    .main-page__annotation {
        margin-bottom: 54px;

        font-size: 36px;
    }
    .main-page__button {
        margin-bottom: 148px;

        font-size: 13px;
    }
    .main-page__list {
        width: 446px;
    }
}

@media (max-width: 767px) {
    .main-page {
        flex-direction: column;

        width: 87%;
        height: 435px;
        margin-top: 0;
        padding: 0 6.25% 40px 6.25% !important;

        background-image: url("../assets/img/main-background-mobile.png");
        background-position: top;

        align-items: center;
        justify-content: flex-end;
    }
    .main-page__title {
        margin-bottom: 21px;

        text-align: center;
        letter-spacing: 3px;

        color: #2e2829;

        font-family: "Playfair Display Bold";
        font-size: 40px;
        line-height: 0.9;
    }
    .main-page__annotation {
        margin-top: 0;
        margin-bottom: 15px;

        color: #32313d;

        font-family: "Intro Script Base";
        font-size: 22px;
    }
    .main-page__list {
        display: flex;
        flex-direction: column;

        width: auto;
        margin-top: 0;
        margin-bottom: 36px;

        align-items: baseline;
        align-self: center;
        justify-content: space-between;
    }
    .main-page__list-item {
        display: flex;
        flex-direction: row;

        height: 45px;

        align-items: center;
        justify-content: flex-start;
    }
    .main-page__list > li img {
        width: 33px;
        height: 33px;
    }
    .main-page__button {
        width: 226px;
        margin-bottom: 0;

        order: 4;
    }
}