.header {
    display: flex;
    flex-direction: row;

    width: 1220px;
    margin: 58px auto 0 auto;

    background-color: transparent;

    align-items: baseline;
}

.header__logo {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.header__logo-link {
    letter-spacing: 1.162px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 23.24px;
}
.header__burger {
    display: none;
}
.header__nav {
    display: flex;

    width: 746px;
    margin-left: 44px;

    justify-content: space-between;
}

.header__nav a {
    text-transform: uppercase;

    color: #2d2829;

    font-family: "Circe";
    font-size: 13px;
}

.header__phone {
    margin-left: auto;

    color: #2d2829;

    font-family: "Circe Bold";
    font-size: 15px;
}

@media (max-width: 1365px) {
    .header {
        width: 100%;
        height: 60px;
        margin: 0;

        background-color: #ffffff;

        align-items: center;
    }
    .header__burger {
        display: block;

        margin-left: 16px;
    }
    .header__nav {
        display: none;
    }
    .header__logo {
        margin-left: 45px;
    }
    .header__logo-link {
        letter-spacing: 1px;

        color: #2d2829;

        font-family: "Playfair Display Bold";
        font-size: 20px;
    }

    .header__phone {
        margin-right: 45px;
        margin-left: auto;
    }
}