.our-comment {
    display: flex;
    flex-direction: column;

    height: 460px;
    margin-top: 26px;

    align-items: center;
    justify-content: center;
}

@media (max-width:1365px) {
    .our-comment {
        display: none;

        width: 768px;
    }
}

.our-comment__title {
    display: block;

    margin-top: 8px;

    color: #fffefe;

    font-family: "Playfair Display Bold";
    font-size: 140px;
    line-height: 50px;
}

.our-comment__annotation {
    display: block;

    width: 815px;
    margin-top: 6px;

    text-align: center;

    color: #2d2829;

    font-family: "Playfair Display Bold Italic";
    font-size: 25px;
    line-height: 37.8px;
}

.our-comment__autograph {
    width: 149px;
    height: 73px;
    margin-top: 44px;
}