.our-advantages {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 1319px;

    background-image: url("../assets/img/care-advantages-background.png");
    background-repeat: no-repeat;

    align-items: center;
}

@media (max-width:1365px) {
    .our-advantages {
        display: none;

        height: 727px;

        background-image: url("../assets/img/care-advantages-background-tablet.png");
    }
}

.our-advantages__title {
    display: block;

    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;

    align-self: center;
}

.our-advantages__annotation {
    display: block;

    margin-top: 20px;

    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;

    align-self: center;
}

.our-advantages__natural-product {
    display: flex;
    flex-direction: row;

    margin-top: 12px;

    justify-content: flex-start;
}

.our-advantages__natural-product > img {
    width: 61px;
    height: 61px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: -20px;
}

.natural-product_annotatiton > li {
    display: block;

    max-width: 380px;
    margin: 35px 0;
}

.natural-product_annotatiton h4 {
    font-family: "Circe Bold";
    font-size: 20px;
}

.natural-product_annotatiton p {
    margin-top: 6px;

    letter-spacing: 0;

    font-family: "Circe";
    font-size: 20px;
    line-height: 24px;
}

.our-advantages__care {
    display: flex;
    flex-direction: row;

    align-self: flex-start;
    justify-content: space-between;
}

.care {
    width: 445px;
    margin-top: 150px;
}

.care h2 {
    display: block;

    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;

    align-self: center;
}

.care h3 {
    display: block;

    margin-top: 6px;

    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;

    align-self: center;
}

.care p {
    margin-top: 7px;

    letter-spacing: 0;

    font-family: "Circe";
    font-size: 20px;
    line-height: 24px;
}