.our-comment {
    display: flex;
    flex-direction: column;

    height: auto;
    margin-top: 112px;
    margin-bottom: 120px;

    align-items: center;
    justify-content: center;
}

@media (max-width:1365px) {
    .our-comment {
        width: 768px;
    }
}

.our-comment__title {
    display: block;

    color: #fffefe;

    font-family: "Playfair Display Bold";
    font-size: 140px;
    line-height: 60px;
}

.our-comment__annotation {
    display: block;

    width: 814px;
    margin-bottom: 46px;

    text-align: center;

    color: #2d2829;

    font-family: "Playfair Display Bold Italic";
    font-size: 25px;
    line-height: 1.485;
}

.our-comment__autograph {
    width: 149px;
    height: 73px;
}

@media (max-width:1365px) {
    .our-comment__title {
        font-size: 77px;
    }
    .our-comment__annotation {
        display: block;

        width: 448px;

        text-align: center;

        color: #2d2829;

        font-family: "Playfair Display Bold Italic";
        font-size: 14px;
        line-height: 1.485;
    }
    .our-comment__autograph {
        width: 82px;
        height: 40px;
    }
}