@import url("./contact-info.css");
@import url("./feedback-form.css");
.contacts {
    display: flex;
    flex-direction: column;

    width: 1220px;
    height: 797px;
    padding: 48px 73px 0 73px;

    background-color: #fbebea;
    background-image: url("../../assets/img/contacts-cake.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 886px auto;

    background-blend-mode: multiply;
}

.contacts__title {
    margin-bottom: 22px;

    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
}

.contacts__annotation {
    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;
}

.contacts__container {
    display: flex;
    flex-direction: row;
}

@media (max-width:1365px) {
    .contacts {
        width: 87.5%;
        height: 541px;
        padding: 48px 6.25% 0 6.25%;

        background-image: url("../../assets/img/contacts-cake-tablet.png");
        background-size: 458px auto;
    }
    .contacts__title {
        margin-bottom: 14px;

        font-size: 27.94px;
    }
    .contacts__annotation {
        font-size: 21.95px;
    }
}

@media (max-width:767px) {
    .contacts {
        width: 87%;
        height: 748px;
        padding: 40px 6.25% 0 6.25%;

        background-image: none;
    }
    .contacts__title {
        font-size: 27.94px;
    }
    .contacts__container {
        display: flex;
        flex-direction: column;
    }
    .contacts__annotation {
        font-size: 21.95px;
    }
}