.contact-info__list {
    display: flex;
    flex-direction: column;

    width: 344px;
    padding-top: 26px;

    align-items: flex-start;
    justify-content: flex-start;
}

.contact-info__list-item {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 32px;

    align-items: flex-start;
    justify-content: flex-start;
}

.contact-info__phone-headline {
    margin-bottom: 10px;

    font-family: Circe;
    font-size: 20px;
}

.contact-info__phone-link {
    color: #2d2829;

    font-family: Circe;
    font-size: 20px;
}

.contact-info__phone-link:hover {
    color: #f50049;
}

.contact-info__email-headline {
    margin-bottom: 10px;

    font-family: Circe;
    font-size: 20px;
}

.contact-info__email-link {
    color: #2d2829;

    font-family: Circe;
    font-size: 20px;
}

.contact-info__email-link:hover {
    color: #f50049;
}

.contact-info__socials-headline {
    font-family: Circe;
    font-size: 20px;
}

.contact-info__socials-container {
    display: flex;
    flex-direction: row;

    padding-top: 28px;

    align-items: baseline;
}

.contact-info__socials-instagram {
    width: 60px;
    height: 60px;
    margin-right: 30px;

    border-radius: 30px;
    background-color: white;
    background-image: url("../../assets/svg/instagram-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;

    mix-blend-mode: unset;
}

.contact-info__socials-instagram:hover {
    box-shadow: 0 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
}

.contact-info__socials-vk {
    width: 60px;
    height: 60px;

    border-radius: 30px;
    background-color: white;
    background-image: url("../../assets/svg/vk.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37px;

    mix-blend-mode: unset;
}

.contact-info__socials-vk:hover {
    box-shadow: 0 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
}

@media (max-width:1365px) {
    .contact-info__list {
        width: 38.46%;
        padding-top: 22px;
    }
    .contact-info__list-item {
        margin-bottom: 22px;
    }
    .contact-info__socials-container {
        padding-top: 24px;
    }
}

@media (max-width:767px) {
    .contact-info__list {
        width: 100%;
        padding-top: 28px;
    }
    .contact-info__list-item {
        margin-bottom: 22px;
    }
    .contact-info__socials-container {
        padding-top: 15px;
    }
}