.feedback-form {
    display: flex;
    flex-direction: column;

    width: 45.08%;
    margin-right: 6.56%;
    padding-top: 26px;

    font-family: "Circe";
}

.feedback-form__title {
    margin-bottom: 52px;

    color: #000000;

    font-size: 20px;
}

.feedback-form__input {
    width: 100%;
    margin-bottom: 36px;
    padding: 7px 0;

    transition: border-color 0.2s;

    opacity: 0.4;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    background: transparent;

    font-size: 14px;
}

.feedback-form__input_question {
    margin-bottom: 74px;
}

.feedback-form__button {
    width: 180px;
}

@media (max-width:1365px) {
    .feedback-form {
        width: 51.48%;
        margin-right: 10.06%;
        padding-top: 22px;
    }
    .feedback-form__title {
        margin-bottom: 20px;

        font-size: 14px;
    }
    .feedback-form__input {
        height: 50px;
        margin-bottom: 10px;
        padding: 0;
        padding-left: 12px;

        transition: unset;

        opacity: unset;
        background: #ffffff;
    }
    .feedback-form__input_question {
        height: 118px;
        margin-bottom: 30px;
        padding-top: 14px;
    }
    .feedback-form__button {
        width: 160px;
    }
}

@media (max-width:767px) {
    .feedback-form {
        width: 100%;
        margin-right: 0;
        padding-top: 14px;
    }
    .feedback-form__input_question {
        margin-bottom: 20px;
    }
    .feedback-form__button {
        width: 180px;

        font-size: 19px;

        align-self: center;
    }
}