@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'), url('./assets/fonts/CRC55.woff') format('woff');
}

@font-face {
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circe Bold'), url('./assets/fonts/CRC65.woff') format('woff');
}

@font-face {
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Playfair Display Bold'), url('./assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Intro Script Base';
    font-style: normal;
    font-weight: normal;
    src: local('Intro Script H2 Base'), url('./assets/fonts/IntroScriptB-Base.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

body {
    max-width: 1366px;
    align-content: center;
    background-color: #fbebea;
    margin: 0 auto;
}

ol,
ul {
    list-style: none;
}

.container {
    width: 1220px;
    margin: 56px auto;
    display: flex;
    align-items: baseline;
}

.nav--logo {
    display: flex;
}

.logo--text {
    font-family: 'Playfair Display Bold';
    font-size: 23.24px;
    letter-spacing: 1.16px;
    color: #2d2829;
}

.nav--list {
    display: flex;
    width: 746px;
    margin-left: 43px;
    justify-content: space-between;
}

.nav--list>li {
    font-family: 'Circe';
    font-size: 13px;
    text-transform: uppercase;
    color: #2d2829;
}

.nav--phone {
    margin-left: auto;
    font-family: 'Circe Bold';
    font-size: 15px;
    color: #2d2829;
}

.main-page {
    height: 772px;
    align-items: center;
    overflow: visible;
}

.main-page--left-info {
    align-self: flex-start;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Playfair Display Bold';
    font-size: 78.3px;
    letter-spacing: 5.87px;
    line-height: 70px;
    color: #2e2829;
}

.title--annotation {
    font-family: 'Intro Script Base';
    font-size: 40.83px;
    color: #32313d;
    margin-top: 20px;
}

.left-info--button {
    margin-top: 57px;
    width: 226px;
}

.left-info--promo {
    margin-top: 60px;
}

.promo--list {
    width: 484px;
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.promo--list>li {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.promo--list>li h6 {
    display: block;
    align-self: center;
    margin-left: 12px;
    font-family: 'Circe Regular';
    font-size: 14px;
}

.main-page--right-info {
    align-self: baseline;
    margin-top: -51px;
    margin-left: 26px;
    width: 809px;
    z-index: 0;
}

.right-info--image {
    overflow: hidden;
}

.right-info--image>img {
    height: 963px;
    width: 964px;
}

.main-page_decor-berry-1 {
    position: relative;
    align-self: auto;
    margin-left: -348px;
    margin-top: -15px;
}

.main-page_decor-berry-2 {
    position: relative;
    align-self: flex-start;
    margin-left: -856px;
    margin-top: -35px;
}

.our-cakes {
    height: 1461px;
    display: flex;
    flex-direction: column;
}

.our-cakes_title>h2 {
    font-family: 'Playfair Display Bold';
    font-size: 40px;
    letter-spacing: 0.4px;
    line-height: 66px;
    color: #2d2829;
}

.our-cakes_category {
    display: flex;
    flex-direction: row;
    margin: 20 0;
}

.category-template {
    flex-grow: 1;
}

.category-template_main {
    flex-grow: 2;
    height: 652px;
    width: 695px;
}

.how-to-order {
    height: 703px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.how-to-order_background {
    position: relative;
    z-index: 0;
    margin-left: -69px;
}

.how-to-order_decor {
    position: relative;
    z-index: 1;
    align-self: center;
    margin-top: -487px;
    margin-left: -355px;
}

.how-to-order_instruction {
    z-index: 2;
    font-family: 'Playfair Display Bold';
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 816px;
    margin-top: -230px;
}

.how-to-order_instruction>p {
    margin-left: 15px;
}

.instruction_order {
    margin-top: 17px;
    counter-reset: item;
}

.instruction_order>li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 490px;
    margin-bottom: 14px;
}

.instruction_order>li:before {
    text-align: right;
    min-width: 33.64px;
    display: block;
    line-height: 64.25px;
    content: counter(item) "";
    counter-increment: item;
    font-family: 'Playfair Display Bold';
    font-size: 64.25px;
    color: #FFFFFF;
}

.order {
    margin-top: 19px;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
}

.order_title {
    font-family: 'Circe Bold';
    font-size: 21px;
    letter-spacing: 0.21px;
    line-height: 27px;
}

.order_annotation {
    font-family: 'Circe';
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: 4px;
}

.contacts {
    margin-bottom: 0 !important;
    height: 760px;
    display: flex;
    flex-direction: column;
}

.contacts_title {
    font-family: 'Playfair Display Bold';
    font-size: 40px;
    letter-spacing: 0.4px;
    line-height: 66px;
    color: #2d2829;
}

.contacts_annotation {
    font-family: 'Intro Script Base';
    font-size: 35px;
    color: #32313d;
}

.contacts_feedback {
    position: relative;
    display: flex;
    flex-direction: row;
}

.feedback_form p {
    font-family: 'Circe';
    font-size: 20px;
    color: #000000;
}

.feedback-form_input {
    font-family: Circe;
    width: 550px;
    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    font-size: 14px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 26px;
}

.feedback-form_button {
    width: 180px;
    margin-top: 80px;
}

.feedback_contacts {
    width: 509px;
    margin-left: 82px;
    font-family: Circe;
    font-size: 20px;
    line-height: 24px;
}

.feedback-contacts_socials {
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
    width: 156px;
    position: absolute;
    z-index: 2;
}

.feedback_image {
    width: 886px;
    mix-blend-mode: multiply;
    position: relative;
    align-self: center;
    margin-top: 4px;
    margin-left: -733px;
    overflow: hidden;
}

.feedback_image>img {
    height: 636px;
    width: 954px;
}

footer {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 155px;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-around;
}

.footer_menu {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    width: 734.75px;
    justify-content: space-between;
    align-self: center;
}

.nav_list>li {
    display: block;
    font-family: 'Circe';
    font-size: 16px;
    color: #2d2829;
}

.footer_logo {
    display: flex;
    justify-content: space-between;
}

.logo_text {
    font-family: 'Playfair Display Bold';
    font-size: 28px;
    letter-spacing: 1.4px;
    color: #2d2829;
}

.footer_social {
    width: 72px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_credentials {
    width: 1220px;
}

.footer_credentials>h6 {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    opacity: 0.5;
}

.footer_credentials>hr {
    opacity: 0.5;
}

button {
    height: 51px;
    width: 100%;
    background-color: #f50049;
    color: #ffffff;
    border-radius: 25.5pt;
    font-family: 'Circe Regular';
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    border: none;
}

h1 {
    font-size: 76px
}

h2 {
    font-size: 50px
}

h3 {
    font-size: 42px
}

h4 {
    font-size: 36px
}

h5 {
    font-size: 24px
}

h6 {
    font-size: 13px
}

img {
    float: left;
}