@import url("./css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
    font-family: "Circe";
    font-weight: normal;
    font-style: normal;

    src: local("Circe"), url("./assets/fonts/CRC55.woff") format("woff");
}

@font-face {
    font-family: "Circe Bold";
    font-weight: normal;
    font-style: normal;

    src: local("Circe Bold"), url("./assets/fonts/CRC65.woff") format("woff");
}

@font-face {
    font-family: "Playfair Display Bold";
    font-weight: normal;
    font-style: normal;

    src: local("Playfair Display Bold"), url("./assets/fonts/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: "Intro Script Base";
    font-weight: normal;
    font-style: normal;

    src: local("Intro Script H2 Base"), url("./assets/fonts/IntroScriptB-Base.woff") format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;

    font: inherit;
    font-size: 100%;
}

body {
    max-width: 1366px;
    margin: 0 auto;

    background-color: #fbebea;

    align-content: center;
}

ol,
ul {
    list-style: none;
}

.container {
    display: flex;

    width: 1220px;
    margin: 56px auto;

    align-items: baseline;
}

.nav__logo {
    display: flex;
}

.logo__text {
    letter-spacing: 1.16px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 23.24px;
}

.nav__list {
    display: flex;

    width: 746px;
    margin-left: 43px;

    justify-content: space-between;
}

.nav__list > li {
    text-transform: uppercase;

    color: #2d2829;

    font-family: "Circe";
    font-size: 13px;
}

.nav__phone {
    margin-left: auto;

    color: #2d2829;

    font-family: "Circe Bold";
    font-size: 15px;
}

.main-page {
    overflow: visible;

    height: 772px;

    align-items: center;
}

.main-page__left-info {
    display: flex;
    flex-direction: column;

    margin-top: 90px;

    align-self: flex-start;
}

.title {
    letter-spacing: 5.87px;

    color: #2e2829;

    font-family: "Playfair Display Bold";
    font-size: 78.3px;
    line-height: 70px;
}

.title__annotation {
    margin-top: 20px;

    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 40.83px;
}

.left-info__button {
    width: 226px;
    margin-top: 57px;
}

.left-info__promo {
    margin-top: 60px;
}

.promo__list {
    display: flex;
    flex-direction: row;

    width: 484px;
    margin-top: 68px;

    align-items: baseline;
    justify-content: space-between;
}

.promo__list > li {
    display: flex;
    flex-direction: row;

    align-content: center;
    justify-content: space-between;
}

.promo__list > li h6 {
    display: block;

    margin-left: 12px;

    font-family: "Circe Regular";
    font-size: 14px;

    align-self: center;
}

.main-page__right-info {
    z-index: 0;

    width: 809px;
    margin-top: -51px;
    margin-left: 26px;

    align-self: baseline;
}

.right-info__image {
    overflow: hidden;
}

.right-info__image > img {
    width: 964px;
    height: 963px;
}

.main-page__decor-berry-1 {
    position: relative;

    margin-top: -15px;
    margin-left: -348px;

    align-self: auto;
}

.main-page__decor-berry-2 {
    position: relative;

    margin-top: -35px;
    margin-left: -856px;

    align-self: flex-start;
}

.our-cakes {
    display: flex;
    flex-direction: column;

    height: 1461px;
}

.our-cakes__title > h2 {
    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;
}

.our-cakes__category {
    display: flex;
    flex-direction: row;

    margin: 20 0;
}

.category-template {
    flex-grow: 1;
}

.category-template__main {
    width: 695px;
    height: 652px;

    flex-grow: 2;
}

.how-to-order {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 703px;
}

.how-to-order__background {
    position: relative;
    z-index: 0;

    margin-left: -69px;
}

.how-to-order__decor {
    position: relative;
    z-index: 1;

    margin-top: -487px;
    margin-left: -355px;

    align-self: center;
}

.how-to-order__instruction {
    z-index: 2;

    margin-top: -230px;
    margin-left: 816px;

    color: #ffffff;

    font-family: "Playfair Display Bold";
    font-size: 40px;
}

.how-to-order__instruction > p {
    margin-left: 15px;
}

.instruction__order {
    margin-top: 17px;

    counter-reset: item;
}

.instruction__order > li {
    display: flex;
    flex-direction: row;

    width: 490px;
    margin-bottom: 14px;

    align-items: flex-start;
}

.instruction__order > li:before {
    display: block;

    min-width: 33.64px;

    content: counter(item) "";
    counter-increment: item;
    text-align: right;

    color: #ffffff;

    font-family: "Playfair Display Bold";
    font-size: 64.25px;
    line-height: 64.25px;
}

.order {
    display: flex;
    flex-direction: column;

    margin-top: 19px;
    margin-left: 17px;
}

.order__title {
    letter-spacing: 0.21px;

    font-family: "Circe Bold";
    font-size: 21px;
    line-height: 27px;
}

.order__annotation {
    margin-top: 4px;

    letter-spacing: 0;

    font-family: "Circe";
    font-size: 20px;
    line-height: 24px;
}

.contacts {
    display: flex;
    flex-direction: column;

    height: 760px;
    margin-bottom: 0 !important;
}

.contacts__title {
    letter-spacing: 0.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 40px;
    line-height: 66px;
}

.contacts__annotation {
    color: #32313d;

    font-family: "Intro Script Base";
    font-size: 35px;
}

.contacts__feedback {
    position: relative;

    display: flex;
    flex-direction: row;
}

.feedback__form p {
    color: #000000;

    font-family: "Circe";
    font-size: 20px;
}

.feedback-form__input {
    width: 550px;
    margin-top: 26px;
    padding: 7px 0;

    transition: border-color 0.2s;

    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    background: transparent;

    font-family: Circe;
    font-size: 14px;
}

.feedback-form__button {
    width: 180px;
    margin-top: 80px;
}

.feedback__contacts {
    width: 509px;
    margin-left: 82px;

    font-family: Circe;
    font-size: 20px;
    line-height: 24px;
}

.feedback-contacts__socials {
    position: absolute;
    z-index: 2;

    display: flex;

    width: 156px;
    margin-top: 94px;

    justify-content: space-between;
}

.feedback__image {
    position: relative;

    overflow: hidden;

    width: 886px;
    margin-top: 4px;
    margin-left: -733px;

    align-self: center;
    mix-blend-mode: multiply;
}

.feedback__image > img {
    width: 954px;
    height: 636px;
}

footer {
    flex-direction: column !important;

    height: 155px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    align-items: center !important;
    justify-content: space-around;
}

.footer__menu {
    display: flex;
    flex-direction: row;

    width: 1220px;

    align-items: center;
    justify-content: space-between;
}

.footer .nav__list {
    display: flex;

    width: 734.75px;

    align-self: center;
    justify-content: space-between;
}

.footer .nav__list > li {
    display: block;

    color: #2d2829;

    font-family: "Circe";
    font-size: 16px;
}

.footer__logo {
    display: flex;

    justify-content: space-between;
}

.logo__text {
    letter-spacing: 1.4px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 28px;
}

.footer__social {
    display: flex;

    width: 72px;
    height: 37px;

    align-items: center;
    justify-content: space-between;
}

.footer__credentials {
    width: 1220px;
}

.footer__credentials > h6 {
    text-align: center;

    opacity: 0.5;

    font-family: Roboto;
    font-size: 12px;
}

.footer__credentials > hr {
    opacity: 0.5;
}

button {
    width: 100%;
    height: 51px;

    text-transform: uppercase;

    color: #ffffff;
    border: none;
    border-radius: 25.5pt;
    outline: none;
    background-color: #f50049;

    font-family: "Circe Regular";
    font-size: 13px;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 13px;
}

img {
    float: left;
}