@import url("./nav-menu.css");
.header {
    display: flex;

    width: 89.31%;
    height: 50px;
    padding: 34px 5.345% 0;

    background-color: transparent;

    align-items: flex-end;
}

.header__logo {
    display: flex;

    align-items: center;
}

.header__logo-link {
    letter-spacing: 1.162px;

    color: #2d2829;

    font-family: "Playfair Display Bold";
    font-size: 23.24px;
}

.header__burger {
    display: none;
}

.header__phone {
    margin-left: auto;

    color: #2d2829;

    font-family: "Circe Bold";
    font-size: 15px;
}

@media (max-width: 1365px) {
    .header {
        width: 88.29%;
        height: auto;
        padding: 20px 5.86% 20px;

        background-color: #ffffff;
    }
    .header__burger {
        display: block;

        margin-left: 16px;
    }
    .header__burger-ico {
        width: 26px;
        height: 18px;
    }
    .header__logo {
        margin-right: 10px;
    }
    .header__logo-link {
        letter-spacing: 1px;

        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .header {
        width: 87.5%;
        height: 40px;
        padding: 0 6.25%;

        align-items: center;
        justify-content: space-between;
    }
    .header__burger {
        margin-left: auto;
    }
    .header__logo {
        margin-right: 0;
    }
    .header__logo-link {
        letter-spacing: 0.8px;

        font-size: 16px;
    }
    .header__phone {
        display: none;
    }
}