.nav-menu {
    display: flex;

    width: 746px;
    margin-left: 44px;

    justify-content: space-between;
}

.nav-menu__link {
    text-transform: uppercase;

    color: #2d2829;

    font-family: "Circe";
    font-size: 13px;
}

@media (max-width:1365px) {
    .nav-menu {
        display: none;
    }
}