.order {
    display: flex;
    flex-direction: column;

    height: 703px;
    padding: 0 73px;

    background-image: url("../../assets/img/order-background.png");
    background-repeat: no-repeat;

    align-items: flex-end;
    justify-content: flex-start;
}

.order__instruction-header {
    padding-left: 20px;

    color: #ffffff;

    font-family: "Playfair Display Bold";
    font-size: 40px;
}

.order__instruction {
    display: flex;
    flex-direction: column;

    width: 475px;
    padding-top: 126px;

    counter-reset: item;
}

.order__step {
    display: flex;
    flex-direction: row;

    margin-bottom: 14px;

    align-items: flex-start;
}

.order__step:before {
    display: block;

    min-width: 55px;
    height: 65px;

    content: counter(item) "";
    counter-increment: item;
    text-align: center;

    color: #ffffff;

    font-family: "Playfair Display Bold";
    font-size: 64.25px;

    align-self: flex-start;
}

.order__step-description {
    display: flex;
    flex-direction: column;

    padding-top: 20px;

    align-items: flex-start;
    justify-content: flex-start;
}

.order__title {
    margin-bottom: 4px;

    letter-spacing: 0.21px;

    color: white;

    font-family: "Circe Bold";
    font-size: 21px;
    line-height: 27px;
}

.order__annotation {
    width: auto;

    letter-spacing: 0;

    color: white;

    font-family: "Circe";
    font-size: 20px;
    line-height: 24px;
}

@media (max-width:1365px) {
    .order {
        height: 420px;
        padding: 0;
        padding-left: 35%;

        background-image: url("../../assets/img/order-background-tablet.png"), linear-gradient(#e63a41, #d52835);
        background-repeat: no-repeat;
        background-position: left;

        align-items: center;
    }
    .order__instruction {
        width: 375px;
        padding-top: 52px;
    }
    .order__instruction-header {
        padding-left: 8px;

        font-size: 28px;
    }
    .order__step:before {
        min-width: 30px;
        height: 38px;

        font-size: 36px;
    }
    .order__step-description {
        padding-top: 14px;
    }
    .order__title {
        margin-bottom: 6px;

        letter-spacing: 0.15px;

        font-size: 15px;
        line-height: 15px;
    }
    .order__annotation {
        letter-spacing: 0;

        font-size: 14px;
        line-height: auto;
    }
}

@media (max-width:767px) {
    .order {
        width: 87%;
        height: 482px;
        padding: 0 6.25%;

        background-image: url("../../assets/img/order-background-mobile.png");
        background-position: bottom;
        background-size: cover;

        align-items: center;
    }
    .order__instruction {
        width: 100%;
        padding-top: 36px;
    }
    .order__instruction-header {
        padding-left: 0;

        font-size: 24px;

        align-self: center;
    }
    .order__step:before {
        min-width: 30px;
        height: 35px;

        font-size: 35px;
    }
    .order__step-description {
        padding-top: 10px;
    }
    .order__title {
        margin-bottom: 6px;

        letter-spacing: 0.15px;

        font-size: 15px;
        line-height: 15px;
    }
    .order__annotation {
        letter-spacing: 0;

        font-size: 14px;
        line-height: auto;
    }
}