.pros {
    display: flex;
    flex-direction: row;

    width: 460px;

    align-items: baseline;
    justify-content: space-between;
}

.pros__item {
    display: flex;
    flex-direction: row;

    align-content: center;
    justify-content: space-between;
}

.pros__annotation {
    display: block;

    margin-left: 12px;

    font-family: "Circe";
    font-size: 14px;
    line-height: 18px;

    align-self: center;
}

@media (max-width: 1365px) {
    .pros {
        width: 446px;
    }
}

@media (max-width: 767px) {
    .pros {
        display: flex;
        flex-direction: column;

        width: auto;
        margin-top: 0;
        margin-bottom: 36px;

        align-items: baseline;
        align-self: center;
        justify-content: space-between;
    }
    .pros__item {
        display: flex;
        flex-direction: row;

        height: 45px;

        align-items: center;
        justify-content: flex-start;
    }
    .pros_item-image {
        width: 33px;
        height: 33px;
    }
}